      </div><!-- end wrapper -->
      <footer class="footer">
        <a href="" class="logo">
          <img src="images/dist/f_logo.svg" alt="">
        </a>
        <ul class="footer_list">
          <li class="footer_list_item">
            <h3 class="footer_list_item_title">Помощь</h3>
            <ul class="footer_list_item_menu">
              <li><a href="/">Интернет</a></li>
            </ul>
          </li>
          <li class="footer_list_item">
            <h3 class="footer_list_item_title">Пользователям</h3>
            <ul class="footer_list_item_menu">
              <li><a href="/">Заявка на подключение</a></li>
            </ul>
          </li>
          <li class="footer_list_item">
            <h3 class="footer_list_item_title">Компания</h3>
            <ul class="footer_list_item_menu">
              <li><a href="/">О Компании</a></li>
              <li><a href="/">Лицензии</a></li>
              <li><a href="/">Контакты</a></li>
            </ul>
          </li>
          <li class="footer_list_item">
            <h3 class="footer_list_item_title">Контакты</h3>
            <ul class="footer_list_item_menu">
              <li><a href="/">Цхинвал, ул 8-го июня, дом 86</a></li>
              <li><a href="tel:88004444245">88004444245</a></li>
              <li><a href="mailto:office@юг-телеком.com">office@юг-телеком.com</a></li>
            </ul>
          </li>
        </ul>
        
      </footer>
      <div class="cophyright">© 2021 «ЮГ-Телеком» Все права защищены</div>
    <script src="assets/js/libs.min.js"></script>
    <script src="js/index.min.js"></script>
  </body>
</html>